

.box1
{
	width:50%;
	height:37.5%;
	margin-left:7%;
	background:#ffffff;
	margin-top:3%;
	float:left;
}

.box2
{
	width:15%;
	height:35%;
	margin-right:5%;
	background:#ffffff;
	display:inline-block;
	margin-top:5%;
	float:left;
	margin-left:25px;
}

#stackoverflow
{
	height:25%;
	width:25%;
	padding:2%;
	margin:1%;
	border:1%;
}

#linkedin
{
	height:20%;
	width:20%;
	padding:2%;
	margin:1%;
	border:1%;
}

#github
{
	height:30%;
	width:30%;
	padding:2%;	
	margin:1%;
	border:1%;
}


header 
{
	font-size: 30px;
	font-family: "Georgia", Times, Times New Roman, serif;
	font-weight: bold;
	background:#4aaaa5;
	display: inline-block;
	width:25%;
	height: 15%;
	color:#ffffff;
	border-bottom: solid;
	border-width: 3%;
	margin-left:5%;
}


h1
{
	font-size:24px;
	font-family: Arial, "helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	color:#4aaaa5;
	border-bottom:solid;
	border-color:#cccccc;
}

img
{
	float:left;
	margin:5%;
}

.list
{
	margin-top: 0.1px;
	float:right;
	list-style: none;
	padding:10px;
	text-decoration: none;
	color:#ffffff;
	display:inline-block;
}

h2 
{
	color:#4aaaa5;
	border-bottom:solid;
	border-color:#cccccc;
}

a 
{
    color: grey;
    text-decoration: none;
}

.footer
{

	background-color:grey;
	border-top:solid;
	border-width:10px;
	height:75px;
	padding:20px;
	border-color:#4aaaa5;
	position:fixed;
	bottom:0;
	width:100%;	
}

footer
{
	text-align:center;
	font-size: 10px;
	color:#ffffff;
}

#Whirlpool
{
	top:0;
	left:0;
	position:fixed;
	width:100%;
	height:100%;
	z-index: -1000;
}

#Connectwithme
{
	
	color:#4aaaa5;
	font-size:24px;
	font-weight:bold;
	border-bottom:solid;
	border-color:#cccccc;
}

.box3
{
	width:40%;
	height:37%;
	background:#ffffff;
	margin-left:7%;
	margin-top:5%;
	float:left;
}

.box4
{
	width:275px;
	height:1030px;
	background:#ffffff;
	margin-left:100px;	
	float:left;
}

.Hangman
{
	height:200px;
	width:200px;
}
.RPG-Game
{
	height:200px;
	width:200px;
}
.Trivia-Game
{
	height:200px;
	width:200px;
}
.Rutgers-Info-Widget
{
	height:200px;
	width:200px;
}
.Rock-Paper-Scissors
{
	height:200px;
	width:200px;
}


.overlay1
{
	position:absolute;
	width:200px;
	color:#ffffff;
	font-size: 24px;
	background-color:#4aaaa5;
	text-align:center;
	opacity:0.75;
	bottom:20px;
	margin-left:5%;
	
}

.overlay2
{
	position:absolute;
	width:200px;
	color:#ffffff;
	font-size: 24px;
	background-color:#4aaaa5;
	text-align:center;
	opacity:0.75;
	bottom:1px;
	margin-left:5%;

}

.overlay3
{
	position:absolute;
	width:200px;
	color:#ffffff;
	font-size: 24px;
	background-color:#4aaaa5;
	text-align:center;
	opacity:0.75;
	bottom:-20px;
	margin-left:5%;
}

.overlay4
{
	position:absolute;
	width:200px;
	color:#ffffff;
	font-size: 24px;
	background-color:#4aaaa5;
	text-align:center;
	opacity:0.75;
	bottom:-40px;
	margin-left:5%;
}
.overlay5
{
	position:absolute;
	width:200px;
	color:#ffffff;
	font-size: 24px;
	background-color:#4aaaa5;
	text-align:center;
	opacity:0.75;
	bottom:-60px;
	margin-left:5%;
}

.package1, .package2, .package3, .package4, .package5
{
	position:relative;
	display: inline-block; 
	width:200px;
	height:200px;
}

@media screen and (max-width: 980px){
	header
	{
		display:inline;	
	}
	.box1
	{
		margin-bottom: 125px;
	}
	.box2
	{
		width:30%
	}
	.package1, .package2, .package3, .package4, .package5
	{
		display:block;
	}
	.box4
	{
		margin-bottom:150px;
	}
}

@media screen and (max-width: 768px)
{
	img{
		float:none;
	}
	.box2
	{
		display:block;
		float:left;
		width:30%;
		height:25%;
		margin-left:100px;
		margin-bottom:150px;
		margin-top:-50px;
	}
	.overlay2
	{
		bottom:20px;
	}
	.overlay3
	{
		bottom:20px;
	}
	.overlay4
	{
		bottom:20px;
	}
	.overlay5
	{
		bottom:20px;
	}
@media screen and (max-width: 640px)
{
	.box2{
		width:200px;
	}
}

